body {
    background-color: #a9cce3;
    font-family: Arimo for Powerline;
}

header1 {
    float: left;
    font-weight: bold;
    margin-bottom: 5px;
}

header2 {
    float: right;
    font-weight: bold;
    margin-bottom: 5px;
}

#content, #title {
    background-color: #D6EAF8;

    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;

    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
}
