body {
    background-color: #a9cce3;
    font-family: Arimo for Powerline;
}

#course_name {
    float: left;
    font-weight: bold;
    margin-bottom: 5px;
}

#school_name {
    float: right;
    font-weight: bold;
    margin-bottom: 5px;
}

div.container {
    background-color: #D6EAF8;
}

#title, #content{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 5%;
    margin-right: 5%;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5%;
    padding-right: 5%;
}

#header {
    margin-top: 5%;
    margin-bottom: 2%;
    margin-left: 5%;
    margin-right: 5%;

    padding-bottom: 55px;
    padding-left: 5%;
    padding-right: 5%;
}

#end {
    font-size: 9pt;
    text-align: center;
    color: gray;

    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}